.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex: 1 0 auto;
}

.imageBlock {
    display: block;
    height: 200px;
    width: 150px;
    background-color: aquamarine;
}

.poster {
    padding-top: 20px;
    flex: 0 1 auto;
    margin-right: 20px;
}

.notFoundFilm {
    margin: 0 auto;
    font-size: 40px;
    color: lightgrey;
}