* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}

#app{
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 850px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}