.sort-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px;
}
.count-movies, .sort-by-title, .sort-director {
    color: rgb(59,68,75);
    font-weight: bold;
    font-size: 14px;
    margin-top: 2px;
}

.radios-as-text{
    display: flex;
    flex-direction: row;
}

.radios-as-text input{
    position: absolute;
    left: -99999px;
}

.radios-as-text label {
    color: lightgrey;
    margin-left: 10px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.radios-as-text input[type=radio]:checked ~ label {
    color: rgb(251, 99, 98);
}
